<% content_for :page_title do %>
<h1><%= t("seb.pay")%></h1>
<% end %>
<h1><%= "#{t('order')} #{@order.number}" %></h1>
<%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} %>

<div class="clear"></div>
<div>&nbsp;</div>
<button style="margin-left: 350px;" class="button_buy left" href="">
  <span class="left_b"></span>
  <span class="line_b">
    <div class="form-buttons" data-hook="buttons">
    <%= ipizza_payment_form_tag @bankpayment, :service => @gateway.method_type do %>
      <%= submit_tag t("pay_with_#{@gateway.method_type}_bank"), :class => 'primary' %>
    <% end %>
    </div>
  </span>
  <span class="right_b"></span>
</button>
<div class="clear"></div>
